EntLib5Samples/RemoteServiceTraceListenerSample/RemoteServiceTraceListenerSample/Service References/LoggingService/LogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Logging.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Logging.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51625/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51625/LogService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51625/LogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Diagnostics" />
  <xs:complexType name="ArrayOfLogEntryMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogEntryMessage" nillable="true" type="tns:LogEntryMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogEntryMessage" nillable="true" type="tns:ArrayOfLogEntryMessage" />
  <xs:complexType name="LogEntryMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="ser:guid" />
      <xs:element minOccurs="0" name="AppDomainName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Categories" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExtendedPropertiesKeys" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExtendedPropertiesValues" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="ManagedThreadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="RelatedActivityId" nillable="true" type="ser:guid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Diagnostics" name="Severity" type="q4:TraceEventType" />
      <xs:element name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEntryMessage" nillable="true" type="tns:LogEntryMessage" />
</xs:schema>